---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import Paragraph from "@components/Paragraph.astro";
import Anchor from "@components/Anchor.astro";
import Heading2 from "@components/Heading2.astro";
import ListItem from "@components/ListItem.astro";
import OrderedList from "@components/OrderedList.astro";
import { getLangFromUrl, getLocalePostHref } from "@i18n/utils";
import Icon from "@components/Icon.astro";
import Quotes from "@components/Quotes.astro";
import Time from "@components/Time.astro";
import { useTranslations } from "@i18n/utils";
import { defaultLang, languages } from "@i18n/ui";

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  return pages.map((page) => {
    const [locale, ...slug] = page.id.split("/");

    return {
      params: {
        locale: locale ?? "en",
        slug:
          locale === "en"
            ? slug.join("/") || undefined
            : [locale, ...slug].filter(Boolean).join("/"),
      },
      props: {
        page,
      },
    };
  });
}

const { page } = Astro.props;
const { Content } = await render(page);
const { locale = "en" } = Astro.params;
const isHomePage = Astro.url.pathname === "/" || Astro.url.pathname === "/fr/";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const [, ...slugParts] = page.id.split("/");
const postPath = slugParts.join("/");

const localeLinks = (
  Object.keys(languages) as Array<keyof typeof languages>
).map((localeKey) => ({
  locale: localeKey,
  href: getLocalePostHref(localeKey, `${localeKey}/${postPath}`),
}));
---

<BaseLayout title={page.data.title}>
  {
    !isHomePage && (
      <aside class="static top-0 w-fit max-md:mb-8 md:fixed md:translate-y-28 md:max-xl:-translate-x-30 xl:-translate-x-60">
        <a
          class="text-muted-foreground relative flex items-center gap-1 text-sm transition-opacity duration-200 before:absolute before:-inset-4 hover:opacity-60 dark:hover:opacity-70"
          href={lang === defaultLang ? "/" : `/${lang}/`}
        >
          <Icon class="size-2.5" name="arrow-u-down-left" />

          <span class="text-muted-foreground text-xs leading-none font-[460]">
            {t("nav:home")}
          </span>
        </a>
      </aside>
    )
  }

  <article class="space-y-4">
    <div class="mb-6 space-y-1">
      <div class="flex justify-between">
        <h1 class="text-primary text-sm font-medium">{page.data.title}</h1>

        <div class="text-xs/5">
          {
            localeLinks.map((item, index) => (
              <>
                {index > 0 && <span class="text-muted-foreground"> / </span>}

                <a
                  class:list={[
                    "",
                    item.locale === lang
                      ? "text-primary pointer-events-none font-medium"
                      : "text-muted-foreground transition-opacity duration-200 hover:opacity-60 dark:hover:opacity-70",
                  ]}
                  href={item.href}
                >
                  {languages[item.locale]}
                </a>
              </>
            ))
          }
        </div>
      </div>

      <p class="text-muted-foreground text-sm/none font-[460]">
        {
          page.data.date
            ? new Date(page.data.date).toLocaleString("en-US", {
                month: "long",
                year: "numeric",
              })
            : "Design Engineer"
        }
      </p>
    </div>

    <Content
      components={{
        a: Anchor,
        h2: Heading2,
        li: ListItem,
        ol: OrderedList,
        p: Paragraph,
      }}
    />

    {
      isHomePage && (
        <div class="mt-11.5 flex flex-col">
          <Quotes />
          <Time />
        </div>
      )
    }
  </article>
</BaseLayout>
