---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import Paragraph from "@components/Paragraph.astro";
import Anchor from "@components/Anchor.astro";
import HeadingTwo from "@components/HeadingTwo.astro";
import ListItem from "@components/ListItem.astro";
import OrderedList from "@components/OrderedList.astro";
import { getLangFromURL, getLocalePostHref, parsePageId } from "@i18n/utils";
import Icon from "@components/Icon.astro";
import Footer from "@components/Footer.astro";
import { getTranslations } from "@i18n/utils";
import { languages } from "@i18n/ui";
import Navigation from "@components/Navigation.astro";

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  return pages.map((page) => {
    const { locale, parts } = parsePageId(page.id);

    const slug =
      locale === "en"
        ? parts.join("/") || undefined
        : [locale, ...parts].join("/");

    return {
      params: { slug },
      props: { page },
    };
  });
}

const { page } = Astro.props;
const { Content } = await render(page);

const lang = getLangFromURL(Astro.url);

function toMonthYear(date: Date) {
  const locale = lang === "fr" ? "fr-FR" : "en-US";

  const formatter = new Intl.DateTimeFormat(locale, {
    year: "numeric",
    month: "long",
  });
  return formatter.format(date);
}

const index = Astro.url.pathname === "/" || Astro.url.pathname === "/fr/";

const t = getTranslations(lang);

const { path } = parsePageId(page.id);

const locales = Object.keys(languages).map((locale) => ({
  locale,
  href: getLocalePostHref(locale, `${locale}/${path}`),
}));

const components = {
  a: Anchor,
  h2: HeadingTwo,
  li: ListItem,
  ol: OrderedList,
  p: Paragraph,
};
---

<BaseLayout title={page.data.title}>
  {
    !index && (
      <aside class="static top-0 w-fit max-md:mb-8 md:fixed md:translate-y-28 md:max-xl:-translate-x-30 xl:-translate-x-60">
        <a
          class="text-muted-foreground relative flex items-center gap-1 text-sm transition-opacity duration-200 before:absolute before:-inset-4 hover:opacity-60 dark:hover:opacity-70"
          href={lang === "en" ? "/" : `/${lang}/`}
        >
          <Icon class="size-2.5" name="arrow-u-down-left" />

          <span class="text-muted-foreground text-xs leading-none font-[460]">
            {t("nav:home")}
          </span>
        </a>
      </aside>
    )
  }

  <article class="space-y-4">
    <div class:list={["space-y-1", index ? "mb-6" : "mb-7"]}>
      <div class="flex justify-between">
        <h1 class="text-primary text-sm font-medium">{page.data.title}</h1>

        <div class="text-xs/5">
          {
            locales.map((item, index) => (
              <>
                {index > 0 && <span class="text-muted-foreground"> / </span>}

                <a
                  class:list={[
                    "",
                    item.locale === lang
                      ? "text-primary pointer-events-none font-medium"
                      : "text-muted-foreground transition-opacity duration-200 hover:opacity-60 dark:hover:opacity-70",
                  ]}
                  href={item.href}
                >
                  {languages[item.locale as keyof typeof languages]}
                </a>
              </>
            ))
          }
        </div>
      </div>

      <p class="text-muted-foreground text-sm/none font-[460] capitalize">
        {page.data.date ? toMonthYear(page.data.date) : "Design Engineer"}
      </p>
    </div>

    <Content components={components} />

    {index ? <Footer /> : <Navigation />}
  </article>
</BaseLayout>
