---
import "@styles/global.css";
import ogImage from "@images/opengraph-image.png";
import { Font } from "astro:assets";

interface Props {
  title: string;
}

let { title } = Astro.props;

title = title + " | Armand Thuillart";

const ogImageUrl = new URL(ogImage.src, Astro.url);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link
  rel="alternate"
  type="application/rss+xml"
  href={new URL("rss.xml", Astro.site)}
  title="Armand Thuillart"
/>

<link rel="icon" href="/favicon.ico" />
<link rel="manifest" href="/manifest.json" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content="Designer and developer." />

<meta property="og:url" content={Astro.url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:image" content={ogImageUrl} />
<meta property="og:description" content="Designer and developer." />

<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:image" content={ogImageUrl} />
<meta property="twitter:description" content="Designer and developer." />

<meta name="color-scheme" content="light dark" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFF" />

<Font cssVariable="--font-die-grotesk-a" preload />
<Font cssVariable="--font-die-grotesk-b" preload />
