---
interface Video {
	alt: string;
	url: string;
}

interface Props {
	title: string;
	videos: Video[];
}

const { title, videos } = Astro.props;
---

<details class="group/accordion my-4 border-b border-border">
	<summary
		class="flex justify-between cursor-pointer font-sans text-pretty text-lg focus-visible:outline-current list-none py-3 border-t border-border"
	>
		{title}

		<svg
			fill="currentColor"
			class="my-auto group-open/accordion:hidden size-5"
			view-box="0 0 15 15"
			aria-hidden="true"
		>
			<path
				d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47364 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
				fill="currentColor"
				fill-rule="evenodd"
				clip-rule="evenodd"
			/>
		</svg>

		<svg
			fill="currentColor"
			class="my-auto not-group-open/accordion:hidden size-5"
			view-box="0 0 15 15"
			aria-hidden="true"
		>
			<path
				d="M2.25 7.5C2.25 7.22386 2.47386 7 2.75 7H12.25C12.5261 7 12.75 7.22386 12.75 7.5C12.75 7.77614 12.5261 8 12.25 8H2.75C2.47386 8 2.25 7.77614 2.25 7.5Z"
				fill="currentColor"
				fill-rule="evenodd"
				clip-rule="evenodd"
			/>
		</svg>
	</summary>

	{videos.length > 1 && (
		<div class="mb-4 relative block w-full md:left-1/2 md:w-screen md:max-w-6xl md:-translate-x-1/2">
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
				{videos.map((video) => (
					<iframe
						allow="autoplay; encrypted-media"
						allowfullscreen
						class="aspect-video"
						loading="eager"
						src={video.url}
						title={video.alt}
					/>
				))}
			</div>
		</div>
	)}

	{videos.length === 1 && (
		<iframe
			allow="autoplay; encrypted-media"
			allowfullscreen
			class="mb-4 aspect-video"
			loading="eager"
			src={videos[0].url}
			title={videos[0].alt}
		/>
	)}
</details>
