---
import "@styles/global.css";
import { Font } from "astro:assets";
import ogImage from "@public/og-image.png";
import { getLangFromURL } from "@i18n/utils";

interface Props {
  title: string;
}

let { title } = Astro.props;

const lang = getLangFromURL(Astro.url);
const ogLocale = lang === "fr" ? "fr_FR" : "en_US";
const isIndexPage = Astro.url.pathname === "/" || Astro.url.pathname === "/fr/";

if (!isIndexPage) {
  title = `${title} · "Armand Thuillart"`;
}
---

<html lang={lang} class="antialiased scheme-light-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("rss.xml", Astro.site)}
      title="Armand Thuillart"
    />
    <link
      rel="icon"
      href="/favicon-dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/favicon-light.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content="Designer and developer." />

    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={new URL(ogImage.src, Astro.site)} />
    <meta property="og:locale" content={ogLocale} />
    <meta property="og:site_name" content="Armand Thuillart" />
    <meta property="og:description" content="Designer and developer." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@armandthuillart" />
    <meta name="twitter:creator" content="@armandthuillart" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="Designer and developer." />
    <meta name="twitter:image" content={new URL(ogImage.src, Astro.site)} />

    <Font cssVariable="--font-inter" preload />

    <script>
      let style = document.createElement("style");
      style.textContent = "* { transition: none !important; }";

      let mm = matchMedia("(prefers-color-scheme: dark)");

      mm.addEventListener("change", () => {
        if (!style.isConnected) document.head.append(style);
        requestAnimationFrame(() => {
          requestAnimationFrame(() => style.remove());
        });
      });
    </script>
  </head>

  <body class="bg-background text-foreground selection:bg-selection font-sans">
    <main class="mx-auto my-12 max-w-150 px-6 sm:my-28">
      <slot />
    </main>
  </body>
</html>
